@model IEnumerable<NetCuisine.Models.OrderModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemsPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemsQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderstatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItems)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItemsPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderItemsQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @if (item.Orderstatus == "Completed")
                    {
                        <button type="button" class="btn btn-success">@Html.DisplayFor(modelItem => item.Orderstatus)</button>
                    }
                    else if (item.Orderstatus == "In Progress")
                    {
                        <button type="button" class="btn btn-warning">@Html.DisplayFor(modelItem => item.Orderstatus)</button>
                    }
                    else if (item.Orderstatus == "Cancelled")
                    {
                        <button type="button" class="btn btn-danger">@Html.DisplayFor(modelItem => item.Orderstatus)</button>
                    }
                    
                    
                </td>
                <td>
                    <form asp-action="UpdateStatus" method="post">
                        <select name="OrderStatus" class="form-control">
                            <option>In Progress</option>
                            <option>Completed</option>
                            <option>Cancelled</option>
                        </select>
                        <input type="hidden" name="OrderID" value="@item.Id">

                        <button class="btn btn-info" type="submit">Update</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
